/* ==================== VARIABLES ==================== */
:root {
  --primary-color: #6720ba;
  --secondary-color: #9d4edd;
  --shadow-color: #652b94;
}

/* ==================== FUENTES ==================== */
@font-face {
  font-family: "Kraash";
  src: url("./assets/Fonts/Kraash.ttf") format("truetype");
}

/* ==================== ANIMACIONES ==================== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes waveAnimation {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(20px);
  }
}

/* ==================== BODY ==================== */
body {
  margin: 0;
  background-image: url("./assets/imagenes/fondo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* ==================== HERO ==================== */
.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* pantalla completa */
  display: flex;
  justify-content: center;
  z-index: 1;
}

/* ==================== CONTENIDO HERO ==================== */
.contenido-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4vh;
  gap: 1.5rem;
  z-index: 2;
  text-align: center;
}

/* ==================== TITULOS ==================== */
.titulo {
  font-size: 4vw;
  font-family: "Kraash", sans-serif;
  color: white;
  margin: 0 0 10rem 0;
}

/* ==================== BOTON ==================== */
#boton {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  background: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 0.75rem;
  box-shadow: 0 8px 0 var(--secondary-color);
  transform: skew(-10deg);
  transition: all 0.1s ease;
  filter: drop-shadow(0 15px 20px var(--shadow-color));
  cursor: pointer;
}

#boton:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(--shadow-color);
}

/* ==================== WAVES ==================== */
.wavescontainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
  animation: fadeInUp 2s ease;
}

.wavescontainer svg {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  opacity: 0.7;
}

.wave1,
.wave2,
.wave3,
.wave4,
.wave5,
.wave6 {
  animation: waveAnimation 10s infinite alternate-reverse;
  position: relative;
}

.wave2 {
  animation-duration: 8s;
}
.wave3 {
  animation-duration: 6s;
}
.wave4 {
  animation-duration: 7s;
}
.wave5 {
  animation-duration: 5s;
}
.wave6 {
  animation-duration: 3.5s;
}

/* ==================== RESPONSIVE ==================== */
@media (max-width: 768px) {
  .titulo {
    font-size: 9vw;
  }

  #boton {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
  }

}

/* ==================== FORMULARIO ==================== */

.formu {
  padding-top: 15vh;
}

#formulario {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 1.3rem;
  box-shadow: 0 0 3rem var(--secondary-color);
  .titulo-Etiqueta {
    align-items: start;
  }
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: #292424;
  padding: 0.5rem 1.5rem;
}

.titulo-Etiqueta {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

input[type="text"],
select {
  padding: 0.6rem;
  margin: 0.7rem 0;
  border: 0.15rem solid #ccc;
  border-radius: 1.4rem;
  font-size: 1.1rem;
  transition: border 0.3s ease;
}

input[type="text"]:focus,
select:focus {
  border-color: var(--primary-color);
  outline: none;
}

#formulario {
  button {
    margin-top: 5vh;
  }
}

.form-container{
  position: absolute;
  margin-top: 10vh;
  z-index: +2;
  animation: fadeInUp 3s;
}

/*-------------------------------Pagina preguntas-------------------------------*/

.tarjetaQuestions {
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.733);
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}
.tituloPreguntas{
  font-size: xx-large;
  
}

.botonesAnswers{
width: 100%;
}

.quetionTimerContainer{
  margin-top: 2vh;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}
.questionTimerNumber{
  color: white;
  text-align: start;
  border-radius: 100%;
}

/*----Botones de respuesta de las preguntas--*/


.opcionesQuestions{ /*El bloque que contiene los botones de las preguntas*/
  position: absolute;
  display: inline-block;
  margin-left: 10vw;
  margin-bottom: 10vh;
  bottom: 0;
}

.botonPreguntas{ 
  display: inline-block;
  width: 40vw;
  

  font-size: xx-large;
  padding-right: 8dbw;
  padding-top: 3dvh;
  padding-bottom: 3dvh;
  margin-left: 1dvw;
  margin-right: 2rem;
  margin-top: 1dvh;

  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;


  background: var(--primary-color);
  border-radius: 0.75rem;
  transition: all 0.1s ease;
  filter: drop-shadow(0 0px 10px white);
}

/*-----*/
.botonNormalPreguntas {
  color: white;
}

.botonCorrectoPreguntas {
  background-color: #28a745;
  color: white;
}

.botonIncorrectoPreguntas {
  background-color: #dc3545;
  color: white;
}

/*------------------Pagina de cargando del spinner--------------------------*/

.Spinner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30dvh;
}

@media (max-width: 900px) {
  .tituloPreguntas {
    font-size: 1.5rem;
  }
  .tarjetaQuestions {
    font-size: 1.5rem;
  }

  .botonPreguntas {
    width: 80vw;
    font-size: 1.5rem;
    padding: 2vh;
    margin-right: 5vw;
    
  }
}

.share-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.share-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}